weather/src/main/resources/weatherRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://weather.tieto.com/schemas"
	xmlns:tns="http://weather.tieto.com/schemas" elementFormDefault="qualified">

	<element name="WeatherRequest" type="tns:WeatherRequestType"></element>

	<complexType name="WeatherRequestType">
		<sequence>
			<element name="City" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>